# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
dist/
build/
.pytest_cache/
.mypy_cache/
.ruff_cache/
venv/
.venv/
env/
.env

# Django
backend/media/
backend/staticfiles/

# Node/Next
node_modules/
.next/
out/
npm-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS/Editor
.DS_Store
Thumbs.db
.idea/
.vscode/
